<!-- Intro Screen with Name -->
<div id="intro-screen">
    <div class="intro-glow"></div>
    <div class="intro-title" id="intro-title">
        <span class="part1">VAYDRIK</span>
        <div class="dot"></div>
        <span class="part2">STUDIO</span>
    </div>
</div>
